.title {
    color: white;
    padding-top: 25px;
    padding-bottom: 0;
    margin: 0px;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 25px 10px 25px; 
}

.search-bar {
    width: 300px;
}

.searchbar-icon {
    margin: 10px;
    color: white;
    justify-content: center;
}

.local-time {
    color: white;
    font-size: smaller;
}

@media screen and (max-width: 419px){
    .local-time {
        font-size: x-small;
    }
}